// COLOR VARIABLES

// FONT VARIABLES
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Playfair Display', serif;

//RESPONSIVE BREAKPOINTS
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px

