
.recipe-list {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.228);
    padding: 5rem;
    margin-top: -15rem;

    &-ul {
        // text-decoration: underline;
        margin: 0px 1rem;

        // font-style: italic;
       
    }

    &-head {
        font-size: 3.6rem;
        font-family: $font-secondary;
        grid-column: 1 / -1;
        margin-bottom: 4rem;

        display: grid;
        grid-template-columns: repeat(3,max-content) 1fr;

        &:after {
            border-top: 2px dotted rgb(0, 0, 0);
            content: "";
            display: block; 
            margin: 2.6rem;
        }
    }

    &-cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
        justify-content: space-between;
        grid-gap: 4rem;
    }

}

@media(max-width: $bp-largest){
.recipe-list {
    &-head {
        font-size: 2.6rem;
    }
}
}